*{
    padding: 0;
    margin: 0;
}

:root{
    --font:system-ui;
    --bgcolor:#139D73;
    --primarycolor:white;
    --textsize:24px;
    --tsize:18px;
    --align:center;
    --delete:red;
    --color:#00A774;
}

.home{
  /* background-color: var(--color); */
  background-image: linear-gradient(180.96deg, #336975 0.82%, #00a774 129.1%);
backdrop-filter: blur(7px);
  
  

}
.homediv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}
.home-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 20px #336975;
  border-radius: 100%;
  background-color: var(--primarycolor);
  color: var(--color);
  padding: 80px;
}
.home-link{
  text-decoration: none;
  color: var(--primarycolor)
 
}
.home-btn{
  border: none;
 
}

/* .wrapper{
  
background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.pexels.com/photos/2672979/pexels-photo-2672979.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-2672979.jpg&fm=jpg");
background-size: cover;
background-position: center;
color: var(--primarycolor);
 width: 100%;
} */
.nav2{
  text-align: center;
  color: var(--color);
  padding-top: 10px;
}


.todo-section{
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
}

.imgdiv2{
  height: 600px;
  object-fit: cover;
}

.imgdiv{
  height: 500px;
  object-fit: cover;

}



.nav-ul li{
    list-style-type: none;

}



.navigation-list-li{
    list-style-type: none;
    margin-top: 20px;
   
} 
.navigation-list{
    display: flex;
    flex-direction:column; 
    align-items: center;
    justify-content: center;
}

.doneBtn {
 
  border-radius: 8px;
  outline: none;
  margin-left:2px;
  box-shadow: none;
  border: none; 
}

@media (max-width: 1024px){
  .todo-section{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
   
  }

  .imgdiv2{
    
    height: 400px;
    object-fit: cover;
    width: 100%;
    object-position: top;
   
  }
  
  .imgdiv{
    height: 300px;
    object-fit: contain;
   
    
  
  }
}



 @media (max-width: 768px){
  
  .homediv h3{
    text-align: center;
    
  }

  .home-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 20px #336975;
    border-radius: 100%;
    background-color: var(--primarycolor);
    color: var(--color);
    padding: 25px;
  }

  .todo-section{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
   flex-direction: column;
    gap: 2px;
  }

  .imgdiv2{
    display: none;
    height: 200px;
    object-fit: contain;
    position: absolute;
    top: 0;
    margin-top: 100px;
    right: 0;
    margin-right: 90px;
  }
  
  .imgdiv{
    height: 150px;
    object-fit: cover;
    margin-left: 80px;
    width: 100%;
    object-position: top;
    
  
  }
  .form-ul{
    align-self: center;
  }
  .form{
    margin-top: 40px;
   
  }

  .nav2{
    text-align: center;
    color: var(--color);
    padding-top: 30px;
  }

} 
