*{
    padding: 0;
    margin: 0;
}

:root{
    --font:system-ui;
    --bgcolor:#139D73;
    --primarycolor:white;
    --textsize:24px;
    --tsize:18px;
    --align:center;
    --delete:red;
    --color:#00A774;
}

.home{
  background-color: var(--color);
  color: var(--primarycolor);

}
.homediv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home-link{
  text-decoration: none;
  color: var(--color);
 
}
.home-btn{
  border: none;
 
}

/* .wrapper{
  
background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.pexels.com/photos/2672979/pexels-photo-2672979.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-2672979.jpg&fm=jpg");
background-size: cover;
background-position: center;
color: var(--primarycolor);
 width: 100%;
} */
.nav2{
  text-align: center;
  color: var(--color);
  padding-top: 10px;
}
/* .divv{
  background-color: var(--bgcolor);
  
} */
/* .navbarr{
    background-color: var(--bgcolor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--primarycolor);
    width: 100%;
} */

.todo-section{
  display: flex;
  margin-top: 50px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
 
  gap: 60px;
}

.imgdiv2{
  height: 600px;
  object-fit: cover;
}

.imgdiv{
  height: 500px;
  object-fit: cover;

}
/* .nav-ul{
    display: flex;
    padding-top: 10px;
} */
/* 
nav-p{
    padding: 30px 30px;
    color: var(--primarycolor);
   
}   */

/* nav-div{
    padding-top: 10px;
    margin-left: 40px;
} */


.nav-ul li{
    list-style-type: none;

}

/* .nav-ul li a{
    color: var(--primarycolor);
    text-decoration: none;
   padding: 30px 30px;
   
} */
/* .form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-top: 50px;
}*/

.navigation-list-li{
    list-style-type: none;
    margin-top: 20px;
   
} 
.navigation-list{
    display: flex;
    flex-direction:column; 
    align-items: center;
    justify-content: center;
}

.doneBtn {
 
  border-radius: 8px;
  outline: none;
  margin-left:2px;
  box-shadow: none;
  border: none; 
}

/* #input-field{
   width: 30%; 
}

@media (max-width: 768px){
  #input-field{
    width: 80%; 
 }


} */
